* {
  font-family: 'Montserrat', sans-serif;
/*  border: 1px solid red;*/
}

:root {
  --font-4XS: clamp(0.18rem, 0.11rem + 0.35vw, 0.36rem);
  --font-3XS: clamp(0.24rem, 0.14rem + 0.46vw, 0.48rem);
  --font-2XS: clamp(0.32rem, 0.19rem + 0.62vw, 0.63rem);
  --font-XS: clamp(0.42rem, 0.26rem + 0.82vw, 0.84rem);
  --font-S: clamp(0.56rem, 0.34rem + 1.10vw, 1.13rem);
  --font-M: clamp(0.75rem, 0.46rem + 1.46vw, 1.50rem);
  --font-L: clamp(1.00rem, 0.61rem + 1.95vw, 2.00rem);
  --font-XL: clamp(1.33rem, 0.81rem + 2.60vw, 2.67rem);
  --font-2XL: clamp(1.78rem, 1.08rem + 3.47vw, 3.55rem);
  --font-3XL: clamp(2.37rem, 1.44rem + 4.62vw, 4.74rem);
  --font-4XL: clamp(3.16rem, 1.92rem + 6.16vw, 6.31rem);
  --clr-maroon: #6e494f;
  --clr-eucalipto: #499280;
  --clr-maroonL: #800000;
  --clr-salmon: #FFA07A;
}
  
html {
  font-size: 16px;
}

body {
  margin: 0;
}

p{
  font-size: var(--font-S);
}

h1 {
  font-size: var(--font-XL);
}

h2 {
  font-size: var(--font-L);
}

h3 {
  font-size: var(--font-M);
}

h4 {
  font-size: var(--font-S);
}


img {
  max-width: 100%;
}

a {
  color:#999;
  text-decoration: none;
}

a:hover {
  color: #111;
}

li.active-link {
  color:#111;
  font-weight: 700;
}



#canvas {
  max-width: 960px;
  margin: 0px auto;
  padding: 30px;
}

.page-divider {
  border-bottom: 1px solid #ddd;
  margin-block-start: 1rem;
  scroll-margin-block-end: 1rem;
}

figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}

aside {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}

.flex {
  display: flex;
}

.article-left-text article {
  width: 66%;
}

.article-left-text aside {
  width: 33%;
}

.article-bullet-list a {
  color: var(--clr-salmon)
}

section.article-3-columns article, section.article-3-columns aside {
  max-width: 33%;
}

.article-3-columns p {
  word-wrap: break-word;
}

.center-text {
  text-align: center;
}

.green-card {
  background-color: var(--clr-eucalipto);
  padding: 1rem;
  border-radius: 1rem;
  width: 50%;
}

.carousel-img {
  width:25%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover ;
  aspect-ratio: 1 /1;
  min-width: 100px;
}

.carousel {
  gap: 1rem;
}

@media (max-width: 50rem) {
.flex {
  flex-direction: column;
}

.article-left-text article {
  width: 100%;
}

.article-left-text aside {
  width: 100%;
}

.carousel-img {
  width:50%;
}

.green-card {
width: 100%;
}


}